
<!-- CONTENT -->


  <div id="leftPan">
    <div id="programs">
      <h2></h2>
      <% @ads.each do |ad| %>
        <p><span> <%= link_to image_tag(ad.imagem_path),"/anuncio/#{ad.id}" %> </span></p>
      <% end %>
    </div>
  </div>







<div id="middlePan">
  <!-- MURAL -->
  <div id="welcome">
    <h2></h2>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = "tocantinsemfoco"; // required: replace example with your forum shortname
      var disqus_identifier = 1;
      var disqus_url = "timbeta.comuf.com";

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Ative seu javascrit <a href="http://disqus.com/?ref_noscript">commentarios disponibilizados por Disqus.</a></noscript>

  </div>
</div>

<div id="rightPan">
  <h2></h2>
  <% @news.each do |noticia|  %>
    <p class="news"> <%= link_to noticia.titulo,"/noticia/#{noticia.id}" %> </p>
  <% end %>
</div>
<div class="clear"></div>

<!-- ADS -->

<div id="ads">
  <div id="contacts">
    <h2></h2>
    <p><span>Telefone:</span><br />(63) 81329588</p>
    <p><span>Fax:</span><br />(63) 32152376 </p>
    <p><span>E-mail:</span><br /><a href="#" class="mail">contato@tocantinsemfoco.com.br</a></p>
  </div>

  <div id="ad1">
    <h2></h2>
  </div>

  <div id="ad2">
    <h2></h2>
  </div>

  <div class="clear"></div>
</div>
