<%= link_to 'Editar', edit_post_path(@post),:class=>"link_bt" %> |
<%= link_to 'Voltar', posts_path,:class=>"link_bt" %>


<p>
  <b>Titulo:</b>
  <%= @post.titulo %>
</p>

<p>
  <b>Texto:</b>
  <%=raw @post.texto %>
</p>



